#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -10;
  background: -webkit-gradient(linear, left top, right top, from(#55404ae3), to(#1d0a14d6));
  background: linear-gradient(to right, #55404ae3, #1d0a14d6);
}

.loadingContainer {
  background: -webkit-gradient(linear, right top, left top, from(#c4146a), color-stop(#5b414e), color-stop(#654262), to(#32282d));
  background: linear-gradient(to left, #c4146a, #5b414e, #654262, #32282d);
  background-size: 400%;
  position: fixed;
  height: 100vh;
  width: 100vw;
  text-align: center;
  -webkit-animation: load infinite ease 4s;
          animation: load infinite ease 4s;
}

.loadingContainer > h2 {
  color: white;
}

@-webkit-keyframes load {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes load {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.users-wrapper {
  margin: 0;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 380px;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 3vh;
  left: 10vw;
  width: 80vw;
  padding: 10px;
  border-radius: 20px;
  background-color: #511c36;
  -webkit-box-shadow: 0px 0px 4px 2px #511c36;
          box-shadow: 0px 0px 4px 2px #511c36;
}

.users-wrapper .users-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 90vh;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  max-width: 510px;
}

.users {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 1vh 1vw;
}

.users img {
  border-radius: 60px 10px;
  -webkit-transition: border-radius 0.3s;
  transition: border-radius 0.3s;
}

.users:hover img {
  border-radius: 10px 20px;
}

a {
  color: white;
  text-decoration: none;
}

select.sort {
  display: block;
  font-size: 0.9rem;
  position: absolute;
  top: 20px;
  border-radius: 4px;
  background: transparent;
  color: white;
  border: 0;
}

select.sort option {
  padding: 0;
  margin: 0;
  outline: 0;
}

select.sort:focus {
  outline: 0;
  border: 0;
  background-color: #511c36;
}

.User {
  position: absolute;
  top: 5vh;
  bottom: 5vh;
  left: 10vw;
  right: 10vw;
  margin: auto;
  background-color: red;
  border-radius: 20px;
  background-color: #511c36;
  -webkit-box-shadow: 0px 0px 4px 2px #511c36;
          box-shadow: 0px 0px 4px 2px #511c36;
}

.user-wrapper {
  background: -webkit-gradient(linear, left top, right top, from(#f17d96), color-stop(#8eff54), to(#b64646));
  background: linear-gradient(to right, #f17d96, #8eff54, #b64646);
  background-clip: text;
  background-color: red;
  background-size: 300%;
  -webkit-animation: load 4s infinite linear;
          animation: load 4s infinite linear;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user-wrapper img {
  height: 100%;
  margin: 0;
}

.user-wrapper > .imageWrapper {
  padding: 0%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  -webkit-box-shadow: 0px 0px 2px 4px #511c36, 0px 0px 0px 6px #274969, 0 0 5px 10px #511c36;
          box-shadow: 0px 0px 2px 4px #511c36, 0px 0px 0px 6px #274969, 0 0 5px 10px #511c36;
  overflow: hidden;
  -webkit-animation: animateImage 2s infinite linear;
          animation: animateImage 2s infinite linear;
}

.user-wrapper > .name {
  font-size: 3.5em;
  text-transform: capitalize;
  color: transparent;
  font-weight: bolder;
}

@media only screen and (max-width: 425px) {
  .user-wrapper > .name {
    text-align: center;
  }
}

.user-wrapper > .email {
  color: transparent;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
  margin: 0;
}

.user-wrapper > .email::before {
  content: "Contact:";
  display: block;
  text-align: left;
  font-size: 2rem;
  font-weight: bolder;
  color: #e52f88;
}

@media only screen and (max-width: 425px) {
  .user-wrapper > .email::before {
    text-align: center;
  }
}

.user-wrapper > .email > a {
  font-size: large;
  margin: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: capitalize;
  font-size: 1.3rem;
  color: #e52f88;
  -webkit-text-decoration: dashed underline;
          text-decoration: dashed underline;
}

@-webkit-keyframes animateImage {
  0% {
    border-radius: 20%;
  }
  25% {
    border-radius: 10% 20%;
  }
  50% {
    border-radius: 20%;
  }
  75% {
    border-radius: 20% 10%;
  }
  100% {
    border-radius: 20%;
  }
}

@keyframes animateImage {
  0% {
    border-radius: 20%;
  }
  25% {
    border-radius: 10% 20%;
  }
  50% {
    border-radius: 20%;
  }
  75% {
    border-radius: 20% 10%;
  }
  100% {
    border-radius: 20%;
  }
}
/*# sourceMappingURL=App.css.map */